* {
    box-sizing: border-box;
    font-size: 18px;
  }
  

header {
    position: sticky !important;
    top: 0;
    z-index: 10;
  }

body {
    background-color: white;
  }

p {
    color: black;
    font-family: sans-serif;
    font-size: 1.8rem;
  }
  
main {
    position: static;
    display: cover;
  }
  

  
footer {
    position: sticky !important;
    bottom: 0;
    z-index: 5;
  }

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: .3s;
  }
  
a:hover {
    color: white;
  }
  
  /* dropdown menu */
/* Style The Dropdown Button */
.dropbtn {
    background-color: #B2B2B2;
    font-family: sans-serif;
    font-size: .9rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: .5rem;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: grid;
  }
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: none;
    border-radius: 8px;
    min-width: 2em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  }
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: white;
    font-size: .7rem;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: black;
    background-color: lightgrey;
    border-radius: 10px;
  }
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    background-color: #F96565;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #B2B2B2;
  }
  
/* Jumbotron styles start */

.jumbotron {
  position: relative;
  background: url("../images/Rah-k-H-1.jpg") no-repeat center center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  margin-top: 0rem;
  margin-bottom: 0rem;
  z-index: 1;
}


.jumbotron-special {
  background: url("../images/holo-h-k-1.jpg") no-repeat center center;
  -webkit-background-size: 100% 90%;
  -moz-background-size: 100% 90%;
  -o-background-size: 100% 90%;
  background-size: 100% 90%;
  margin: 4rem;
  z-index: 2;
}



.box1 {
  background-size: cover;
  background-position: center;
  padding: 3rem 0;
}

/* page 1 hover circle menu */
.container00 {
  height: 25rem;
  position: relative;
  display: inline-flex;
  visibility: hidden;
  z-index: -1;
}

.container01 {
  height: 20rem;
  position: relative;
  display: inline-flex;
  visibility: hidden;
  z-index: -1;
}

.banner0 {
  display: flex;
  justify-content: center;
  min-height: 20vh;
}

.circle1 {
  position: relative;
  display:block;
  width:200px;
  height:200px;
  border-radius:100px;
  border:6px double #F96565;
  -webkit-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 1);
   box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 1);
  line-height:100px;
  justify-content: center;
  text-align: center;
  text-decoration:none;
  background:#A0AA7A;
  margin: 2rem;
  z-index: 6;
}
.circle1:hover {
  border:10px double #bbb;
  color:#aaa;
  text-decoration:none;
  background:#F96565;
}

.circle1 h1 {
  text-transform: Uppercase;
  font-family: sans-serif;
  font-size: 2rem;
  color: white;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  text-align: center;
  text-transform: capitalize;
  text-shadow: -1.4px 1.4px 0 #000,
                1.4px 1.4px 0 #000,
                1.4px -1.4px 0 #000,
               -1.4px -1.4px 0 #000;
}

.circle1 h5 {
  font-family: sans-serif;
  font-size: 1.5rem;
  color: white;
  align-items: center;
  text-transform: capitalize;
  text-shadow: -1.4px 1.4px 0 #000,
                1.4px 1.4px 0 #000,
                1.4px -1.4px 0 #000,
               -1.4px -1.4px 0 #000;
}




.footer {
  background: #B2B2B2;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  height: auto;
  margin-top: 0rem;
}

.footer-allP {
  background-color: #B2B2B2;
  width: 100%;
  font-family: Chivo;
  font-size: .7em;
  color: white;
  text-align: center;
  text-decoration: none;
}

.footer-allP:hoover {
  color: red;
  text-decoration: underline;
}








.footer {
    background: #B2B2B2;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    height: auto;
    margin-top: 0rem;
  }
  
.footer-allP {
    background-color: #B2B2B2;
    width: 100%;
    font-family: sans-serif;
    font-size: .7em;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
.footer-allP:hoover {
    color: red;
    text-decoration: underline;
  }

  /* Grid */

.grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
    max-width: 90%;
    height: auto;
    margin: 1rem;
  }
  
.grid-item {
    background: white;
    border-style: inset;
    border-top: 2px solid black;
    border-left: 2px solid black;
    box-shadow: 0 0 9px rgba(0,0,0,0.04);
    border-radius: 5px;
    width: auto;
    text-align: left;
    padding: 25px;
    margin: .5rem;
  }
  
.grid-item > p {
    display: flex;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
    line-height: 140%;
    color: #696969;
    text-align: left;
  }


/* Start of MEDIA Q's */

@media (max-width: 800px) {
  .flex-cards {
  display: flex;
  flex-flow: row wrap;
  }
  .columns {
  display: flex;
  flex-flow: row wrap; 
  }
  .card-white {
    width: auto;
  }
}

/* large devices */

@media (min-width: 1200px) {

}

/* medium dvices */

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: scroll;
    }
  }

/* small dvices */

@media all and (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: scroll;
    }
  }

/* extra small dvices */

@media (max-width: 767px) and (min-device-width: 500px) and (orientation: portrait) {
  .jumbotron {
    position: relative;
    background: url("../images/Rah-k-V-2.jpg") no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    margin-top: 0rem;
    margin-bottom: 0rem;
    z-index: 1;
  }

  .jumbotron-special {
 
    background: url("../images/holo-k-V-1.jpg") no-repeat center center;
    -webkit-background-size: 100% 90%;
    -moz-background-size: 100% 90%;
    -o-background-size: 100% 90%;
    background-size: 100% 90%;
    margin: 4rem;
    z-index: 2;
  }
  
  

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    overflow: scroll;
  }
  }

/* extra extra small dvices */

@media (max-width: 499px) and (min-device-width: 300px) {
  .jumbotron {
    position: relative;
    background: url("../images/Rah-k-V-2.jpg") no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    margin-top: 0rem;
    margin-bottom: 0rem;
    z-index: 1;
  }

  .jumbotron-special {
    position: relative;
    background: url("../images/holo-k-V-1.jpg") no-repeat center center;
    -webkit-background-size: 100% 90%;
    -moz-background-size: 100% 90%;
    -o-background-size: 100% 90%;
    background-size: 100% 90%;
    margin: 0rem;
    z-index: 2;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    overflow: scroll;
  }
}